[user]
  name =
  email =
  signingkey =

[alias]
  a = add --all
  b = branch
  c = commit
  d = diff
  e = commit --allow-empty
  f = fetch
  g = grep -p
  l = log --oneline
  m = merge
  o = checkout
  p = pull
  r = rebase
  s = status
  w = switch
  whois = !sh -c 'git log -i -1 --author=\"$1\" --pretty=\"format:%an <%ae>\"' -

[branch]
  sort = -committerdate

[commit]
  gpgsign = true
  verbose = true

[core]
  excludesfile = ~/.gitignore

[column]
  ui = auto

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[ghq]
  root = ~/Documents

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[help]
  autocorrect = prompt

[init]
  defaultBranch = main

[merge]
  conflictstyle=zdiff3

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[tag]
  sort = version:refname
